@media only screen and (max-width: 1024px) {
}
@media only screen and (min-width: 992px) {
}
@media only screen and (max-width: 992px) {
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 480px) {
  ul.navbar-nav {
    li {
      a {
        margin-top: 5px;
      }
    }
  }
  .form-inline {
    .search {
      display: none;
      padding: 19px;
      position: absolute;
      right: 5px;
      top: 7px;
      width: 60%;
    }
  }
}
@media only screen and (max-width: 320px) {
  input.search {
    .form-control {
      display: none;
      padding: 19px;
      position: absolute;
      right: 5px;
      top: 7px;
      width: 60%;
    }
  }
  ul.navbar-nav{
    li:hover {
      .dropdown-menu {
        display: block;
        width: 100%;
      }
    }
  }
}