/* Main Color */
$MainColor: #1c2331;
$WhiteColor: #fff;
$FooterColor: #1c2331;
$Gray: #748494;
$DarkGray: #09c;
$LightGray: #F9F9F9;
$Green : #1c2331;
$MediumGray: #555;
/* Main Sizes */
$Size5: 5px;
$Size10: 10px;
$Size15: 15px;
$Size18: 18px;
$Size20: 20px;
$Size25: 25px;
$Size30: 30px;
$Size35: 35px;
$Size40: 40px;

$Padding: 25px;
$Padding-Top-Bottom50 : 50px 0px 50px 0px;
$Padding-Left-Right25 : 0px 25px 0px 25px;
$autoMargin: 0px auto;

$BoxShadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
$BoxShadow2 : 0 0 0 0.2rem #007bff40;
/*********** Body Style **********/
/* Global Style */
#app {
  font-family: 'Cairo', sans-serif !important;
}
html {
  overflow-x: hidden;
}
body {
  font-size: $Size15;
  overflow-x: hidden;
}
img {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}
.navbar {
  box-shadow: none;
}
.top-social {
  margin-bottom: 0 !important;
  .btn-floating {
    margin: 0 !important;
    border-radius: 2px !important;
    width: 25px !important;
    height: 25px !important;
    box-shadow: none !important;
    i {
      line-height: 25px !important;
      font-size: $Size15;
    }
  }
}


.padding-top-bottom {
  padding: $Padding-Top-Bottom50;
}
.position-relative {
  height: 100%;
}
.hight250 {
  height:250px;
}
.m-top-5 {
  margin-top: $Size5;
}
.m-top-10 {
  margin-top: $Size10;
}
.m-top-15 {
  margin-top: $Size15;
}
.m-top-20 {
  margin-top: $Size20;
}
.m-top-25 {
  margin-top: $Size25;
}
.m-top-30 {
  margin-top: $Size30;
}
.m-top-35 {
  margin-top: $Size35;
}
.m-top-40 {
  margin-top: $Size40;
}
.top-20 {
  margin-top: -$Size20 !important;
  z-index: 9999;
}
.m-bottom40 {
  margin-bottom: $Size40 !important;
}

.btn-danger {
  background-color: $MainColor;
  border-color: $MainColor;
}
.shadow {
  box-shadow: $BoxShadow;
}
.btn-rounded {
  border-radius: 10em;
}
.btn-green {
  background-color: $Green !important;
  color: $WhiteColor;
}
.form-header {
  padding: 1rem;
  margin-top: -3.13rem;
  margin-bottom: 3rem;
  color: #fff;
  text-align: center;
  border-radius: .125rem;
  -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
}
.btn-floating {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0;
  margin: 10px;
  overflow: hidden;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  width: 47px;
  height: 47px;
  background-color: $Green !important;
}
.btn-floating i {
  display: inline-block;
  width: inherit;
  color: #fff;
  text-align: center;
  font-size: 1.25rem;
  line-height: 47px;
}
.btn-light-blue {
  background-color: $Green !important;
  color: $WhiteColor !important;
}
.blue.accent-1 {
  background-color: $Green  !important;
}
.border0 {
  border-radius: 0px !important;
}
.form-inline {
  .form-control {
    padding: 19px;
  }
}
.white-color {
  color: $WhiteColor !important;
}
.bg_overlay {
  background: rgba(0, 0, 0, 0.6);
  position: relative;
  width: 100%;
}
.btn {
  color: $WhiteColor !important;
  &:hover {
    color: $WhiteColor !important;
    background-color: $MainColor !important;
  }
}
.btn-green:not([disabled]):not(.disabled):active, .btn-green:not([disabled]):not(.disabled).active, .show>.btn-green.dropdown-toggle {
  background-color: $MainColor !important;

}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
  color: #fff !important;
}
/* Header */
.bg-info {
  background-color: $WhiteColor !important;
}
.main-nav {
  border-bottom: 1px solid #E4E4E4;
}
.lang {
  padding: 0px;
  border-bottom: 0px !important;
  ul.navbar-nav {
    li {
      a {
        padding: 0px;
        font-weight: 100;
        &:hover {
          background: none;
          border: 0 !important;
          color: $MainColor !important;
          font-weight: 700;
        }
      }
      &:hover {
        .dropdown-menu {
          display: block;
        }
      }
      .dropdown-menu {
        padding: 0px;
        li {
          display: block;
          float: none;
          text-align: right;
          a {
            padding: $Size5 !important;
            color: $MediumGray !important;
            &:hover {
              color: $MainColor !important;
            }
          }
        }

      }
    }
  }
  .navbar-nav {
    display: block;
    li {
      float: right;
    }
  }
}
.navbar-light {
  background-color: $LightGray !important;
  border-bottom: 1px solid #E4E4E4;
}

ul.navbar-nav {
  li {
    text-align: left;
    display: grid;
    margin: 0px $Size5;
    a {
      color: $MediumGray !important;
      font-weight: 700;
      padding: 9px 14px;
      .dropdown-item {
        color: #fff;
      }
      &:hover {
        border-bottom:2px solid $MainColor;
        border-top:2px solid $MainColor;
        border-radius: 5px;
        color: $MainColor !important;
        transition: all 0.4s ease;
        text-decoration: none;
        }
      }
    &:hover {
      .dropdown-menu {
        display: block;
      }
    }
  }
}
.navbar.navbar-light {
  .breadcrumb {
    .nav-item {
      .nav-link {
        color: #000 !important;
        -webkit-transition: .35s;
        transition: .35s;
      }
    }
  }
}
.navbar.navbar-light {
  .navbar-nav {
    .nav-item {
      .nav-link {
        color: #000 !important;
        -webkit-transition: .35s;
        transition: .35s;
      }
    }
  }
}
a.active.router-link-active {
  border-bottom:2px solid $MainColor;
  border-top:2px solid $MainColor;
  border-radius: 5px;
  color: $MainColor !important;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
a.router-link-exact-active.router-link-active {
  border-bottom:2px solid $MainColor;
  border-top:2px solid $MainColor;
  border-radius: 5px;
  color: $MainColor !important;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.dropdown-menu {
  top: 100% !important;
}
.navbar-expand-lg {
  .navbar-nav .dropdown-menu {
    background-color: $WhiteColor;
    position: absolute !important;
    padding: 0;
    li {
      border-bottom: 1px solid $LightGray;
      a {
        color: $MediumGray !important;
        &:hover {
          color: $WhiteColor !important;
        }
      }
      &:hover a{
        color: $WhiteColor !important;
      }
    }
  }
}
img.logo {
  height: 60px;
}
.navbar.navbar-dark {
  .navbar-toggler {
    color: $WhiteColor;
    background: $MainColor;
    position: absolute;
    right: $Size15;
    top: 22px;
  }
}
.show.navbar-collapse {
  display: block !important;
}
ul.nav li:hover > ul.dropdown-menu {
  display: block;
}
/* Home style */
.dark-section {
  background-color: $DarkGray;
  color: $WhiteColor;
}
.light-section {
  background-color: $LightGray;
}
.section-head {
  h2 {
    font-weight: 700;
    font-size: $Size30;
    &:after {
      content: " ";
      width: 33%;
      height: 1px;
      background-color: #e8e8e8;
      position: absolute;
      right: 0;
      left: 0;
      margin: 0px auto;
      top: 100px;
    }
    &:before {
      background: $Green;
      content: " ";
      width: 10%;
      height: 1px;
      position: absolute;
      right: 0;
      left: 0;
      margin: 0px auto;
      top: 100px;
      z-index: 1;
    }
  }
}
p.sub-heading {
  padding: $Padding;
  max-width: 740px;
  margin: $autoMargin;
  font-size: $Size18;
  line-height: 29px;
  color: $Gray;
}
.card {
  margin-top: $Size20;
  overflow: hidden;
  border-radius: 20px;
}
.card.visible {
  margin-top: 0;
  overflow: visible;
  border-radius: 20px;
}
.view.visible {
  overflow: visible;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform ease 0.3s;
}
.card:hover img{
  transform: scale(1.07) rotate(1.5deg);
}
.card-img-overlay {
  background: #0000007a;
}
.card-title {
  position: relative;
  top: 45%;
  font-size: $Size20;
}

.card-btn {
  position: relative;
  top: 60%;
  font-size: 13px;
}
.carousel-inner {
  height: 700px;
}
.carousel {
  height: 700px !important;
}
.carousel-control-prev, .carousel-control-next {
  background: #000;
  width: 40px;
  height: 40px;
  display: block;
  z-index: 100;
  border-radius: 50%;
  opacity: 0.5;
  top: 50%;
  line-height: 50px;
  margin: 0px 10%;
  border: 1px solid $WhiteColor;
}
.carousel-item {
  img {
    height: 700px;
    object-fit: cover;
  }
}
.details-slider {
  height: 400px !important;
  .carousel-inner {
    height: 400px;
    border-radius: 20px;
    .carousel-item {
      img {
        height: 400px;
        -o-object-fit: cover;
        object-fit: cover;
      }
    }
  }
}
.why-us-items {
  padding: $Padding-Top-Bottom50;
}
.tree_features {
  .items {
    .tree-item {
    width: 100%;
    min-height: 144px;
    clear: left;
    float: left;
    background: #435b71;
    color: #fff;
    padding: 25px 25px 15px;
    position: relative;
    margin-bottom: 5px;
    list-style: none;
    vertical-align: top;
    display: block;
    border-radius: 200px;
    transition: all 0.4s ease;

    &:after {
      background: #fff;
      content: "";
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 100%;
      width: 100%;
      border-radius: 200px;
    }

    .leaf_icon {
      background: rgba(0, 0, 0, 0.1);
      display: block;
      height: 120px;
      left: 15px;
      line-height: 120px;
      position: absolute;
      text-align: center;
      width: 120px;
      z-index: 1;
      top: 10px;
      overflow: hidden;
      border-radius: 50%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .leaf_con {
      padding-left: 144px;
      position: relative;
      z-index: 1;
      text-align: left;
    }
    span.tree_features_t {
      color: #fff;
      display: block;
      font-size: 15px;
      font-weight: 700;
      line-height: 29px;
      margin-bottom: 10px;
      text-transform: uppercase;
    }
    span.tree_features_d {
      display: block;
      overflow: hidden;
      font-size: 13px;
    }
    .tree_curv {
      background-color: #435b71;
      height: 100%;
      position: absolute;
      right: 0;
      top: 50%;
      width: 50%;
    }
  }
    &:nth-child(2n) {
      .tree_curv {
        left: 0;
        right: auto;
        height: 100%;
        position: absolute;
        top: 50%;
        width: 50%;
      }
    }
  }
}
.img-custom-height {
  width: 140px;
  height: 140px;
  object-fit: cover;
}
.btn-fb {
  color: #fff;
  background-color: #3b5998 !important;
}
.btn-tw {
  color: #fff;
  background-color: #55acee !important;
}
.btn-li {
  color: #fff;
  background-color: #0082ca !important;
}
.img-container {
  margin-top: -1.25rem;
  border-radius: .25rem;
  margin-right: 4%;
  margin-left: 4%;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
}
.card-img-top {
  height: 250px;
  object-fit: cover;
  border-radius: .25rem;
}

footer.page-footer {
  margin-top: 0 !important;
}
.stylish-color-dark {
  background-color: $FooterColor !important;
}
.md-form {
  .prefix {
    left: 0;
  }
}
.list-unstyled {
  li {
    a.footer-link {
      background-color: transparent !important;
      color: $WhiteColor !important;
      border: 0 !important;
    }
  }
}


/* Arabic Style */
.ar {
  direction: rtl;
  text-align: right;
  .text-left {
    text-align: right !important;
  }
  .lang {
    .navbar-nav li {
      float: left;
    }
  }
  .top-social {
    float: right;
    padding-right: 0;

    .list-inline-item:not(:last-child) {
      margin-left: 0.5rem;
      margin-right: 0 !important;
    }
  }
  .btn {
    .fas.left {
      margin-right: 0;
      margin-left: .3rem;
      float: right;
    }

    .btn {
      .fab.left {
        margin-right: 0;
        margin-left: .3rem;
        float: right;
      }
    }

    .btn {
      .far.left {
        margin-right: 0;
        margin-left: .3rem;
        float: right;
      }
    }
  }
  .md-form {
    .prefix {
      right: 0;
      left: auto !important;
    }
    .prefix ~ input {
      margin-right: 2.5rem;
      margin-left: 0;
    }
    label {
      right: 0;
      left: auto !important;
      margin-right: 2.5rem;
      margin-left: 0;
    }
    .prefix ~ textarea {
      margin-right: 2.5rem;
      margin-left: 0;
    }
  }
  .list-unstyled {
    padding-right: 0;
    list-style: none;
  }
}
