<template>
  <div class="about">
    <!--Content-->
    <mdb-container>
      <section class="my-5">
        <h2 class="h1-responsive font-weight-bold text-center my-5">
          About Us
        </h2>
        <p class="lead grey-text w-responsive text-center mx-auto mb-5">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam.
        </p>
        <mdb-row>
          <mdb-col lg="12">
            <mdb-row class="mb-3">
              <mdb-col md="4">
                <mdb-row class="mb-3">
                  <mdb-col size="2">
                    <mdb-icon
                      icon="place-of-worship"
                      size="2x"
                      class="deep-purple-text"
                    />
                  </mdb-col>
                  <mdb-col size="10" class="text-left">
                    <h5 class="font-weight-bold mb-3">Since 1980</h5>
                    <p class="grey-text">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                  </mdb-col>
                </mdb-row>
                <mdb-row class="mb-3">
                  <mdb-col size="2">
                    <mdb-icon
                      icon="rocket"
                      size="2x"
                      class="deep-purple-text"
                    />
                  </mdb-col>
                  <mdb-col size="10" class="text-left">
                    <h5 class="font-weight-bold mb-3">Fast Delivery</h5>
                    <p class="grey-text">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                  </mdb-col>
                </mdb-row>
              </mdb-col>
              <mdb-col md="4" class="text-name">
                <img
                  class="img-fluid"
                  src="../assets/logo.png"
                  alt="Sample image"
                />
              </mdb-col>
              <mdb-col md="4">
                <mdb-row class="mb-3">
                  <mdb-col size="2">
                    <mdb-icon icon="heart" size="2x" class="deep-purple-text" />
                  </mdb-col>
                  <mdb-col size="10" class="text-left">
                    <h5 class="font-weight-bold mb-3">High Quality</h5>
                    <p class="grey-text">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                  </mdb-col>
                </mdb-row>
                <mdb-row class="mb-3">
                  <mdb-col size="2">
                    <mdb-icon
                      icon="shipping-fast"
                      size="2x"
                      class="deep-purple-text"
                    />
                  </mdb-col>
                  <mdb-col size="10" class="text-left">
                    <h5 class="font-weight-bold mb-3">Expert at shipping</h5>
                    <p class="grey-text">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                  </mdb-col>
                </mdb-row>
              </mdb-col>
            </mdb-row>
          </mdb-col>
        </mdb-row>
      </section>
    </mdb-container>
    <app-footer />
  </div>
</template>
<script>
import AppFooter from "@/components/AppFooter";
import { mdbContainer, mdbRow, mdbCol, mdbIcon } from "mdbvue";
export default {
  components: {
    AppFooter,
    mdbContainer,
    mdbRow,
    mdbCol,
    mdbIcon
  }
};
</script>
