<template>
  <div class="auction-page">
    <pages-header />
    <app-footer />
  </div>
</template>
<script>
import PagesHeader from "@/components/PagesHeader";
import AppFooter from "@/components/AppFooter";
export default {
  name: "Auction",
  components: {
    PagesHeader,
    AppFooter
  }
};
</script>
