<template>
  <div class="category-page">
    <pages-header />

    <mdb-container>
      <section class="text-center my-5">
        <mdb-row>
          <mdb-col lg="4" md="6" class="mb-lg-0 mb-4 m-top-40">
            <router-link to="/Details" class="grey-text">
              <mdb-card cascade narrow ecommerce class="visible">
                <mdb-view class="visible" overlay="white-slight" cascade>
                  <div class="img-container">
                    <mdb-card-image
                      src="https://picsum.photos/900/250/?image=3"
                      waves
                      top
                      alt="sample photo"
                    />
                  </div>
                </mdb-view>
                <mdb-card-body class="text-center" cascade>
                  <h5>Denim</h5>
                  <mdb-card-text
                    >Neque porro quisquam est, qui dolorem ipsum quia dolor
                    sit.</mdb-card-text
                  >
                  <mdb-card-footer color="white" textColor="black" class="px-1">
                    <span class="font-weight-bold">
                      <strong>49$</strong>
                    </span>
                  </mdb-card-footer>
                </mdb-card-body>
              </mdb-card>
            </router-link>
          </mdb-col>
          <mdb-col lg="4" md="6" class="mb-lg-0 mb-4 m-top-40">
            <router-link to="/Details" class="grey-text">
              <mdb-card cascade narrow ecommerce class="visible">
                <mdb-view class="visible" overlay="white-slight" cascade>
                  <div class="img-container">
                    <mdb-card-image
                      src="https://picsum.photos/900/250/?image=3"
                      waves
                      top
                      alt="sample photo"
                    />
                  </div>
                </mdb-view>
                <mdb-card-body class="text-center" cascade>
                  <h5>Denim</h5>
                  <mdb-card-text
                    >Neque porro quisquam est, qui dolorem ipsum quia dolor
                    sit.</mdb-card-text
                  >
                  <mdb-card-footer color="white" textColor="black" class="px-1">
                    <span class="font-weight-bold">
                      <strong>49$</strong>
                    </span>
                  </mdb-card-footer>
                </mdb-card-body>
              </mdb-card>
            </router-link>
          </mdb-col>
          <mdb-col lg="4" md="6" class="mb-lg-0 mb-4 m-top-40">
            <router-link to="/Details" class="grey-text">
              <mdb-card cascade narrow ecommerce class="visible">
                <mdb-view class="visible" overlay="white-slight" cascade>
                  <div class="img-container">
                    <mdb-card-image
                      src="https://picsum.photos/900/250/?image=3"
                      waves
                      top
                      alt="sample photo"
                    />
                  </div>
                </mdb-view>
                <mdb-card-body class="text-center" cascade>
                  <h5>Denim</h5>
                  <mdb-card-text
                    >Neque porro quisquam est, qui dolorem ipsum quia dolor
                    sit.</mdb-card-text
                  >
                  <mdb-card-footer color="white" textColor="black" class="px-1">
                    <span class="font-weight-bold">
                      <strong>49$</strong>
                    </span>
                  </mdb-card-footer>
                </mdb-card-body>
              </mdb-card>
            </router-link>
          </mdb-col>
          <mdb-col lg="4" md="6" class="mb-lg-0 mb-4 m-top-40">
            <router-link to="/Details" class="grey-text">
              <mdb-card cascade narrow ecommerce class="visible">
                <mdb-view class="visible" overlay="white-slight" cascade>
                  <div class="img-container">
                    <mdb-card-image
                      src="https://picsum.photos/900/250/?image=3"
                      waves
                      top
                      alt="sample photo"
                    />
                  </div>
                </mdb-view>
                <mdb-card-body class="text-center" cascade>
                  <h5>Denim</h5>
                  <mdb-card-text
                    >Neque porro quisquam est, qui dolorem ipsum quia dolor
                    sit.</mdb-card-text
                  >
                  <mdb-card-footer color="white" textColor="black" class="px-1">
                    <span class="font-weight-bold">
                      <strong>49$</strong>
                    </span>
                  </mdb-card-footer>
                </mdb-card-body>
              </mdb-card>
            </router-link>
          </mdb-col>
          <mdb-col lg="4" md="6" class="mb-lg-0 mb-4 m-top-40">
            <router-link to="/Details" class="grey-text">
              <mdb-card cascade narrow ecommerce class="visible">
                <mdb-view class="visible" overlay="white-slight" cascade>
                  <div class="img-container">
                    <mdb-card-image
                      src="https://picsum.photos/900/250/?image=3"
                      waves
                      top
                      alt="sample photo"
                    />
                  </div>
                </mdb-view>
                <mdb-card-body class="text-center" cascade>
                  <h5>Denim</h5>
                  <mdb-card-text
                    >Neque porro quisquam est, qui dolorem ipsum quia dolor
                    sit.</mdb-card-text
                  >
                  <mdb-card-footer color="white" textColor="black" class="px-1">
                    <span class="font-weight-bold">
                      <strong>49$</strong>
                    </span>
                  </mdb-card-footer>
                </mdb-card-body>
              </mdb-card>
            </router-link>
          </mdb-col>
          <mdb-col lg="4" md="6" class="mb-lg-0 mb-4 m-top-40">
            <router-link to="/Details" class="grey-text">
              <mdb-card cascade narrow ecommerce class="visible">
                <mdb-view class="visible" overlay="white-slight" cascade>
                  <div class="img-container">
                    <mdb-card-image
                      src="https://picsum.photos/900/250/?image=3"
                      waves
                      top
                      alt="sample photo"
                    />
                  </div>
                </mdb-view>
                <mdb-card-body class="text-center" cascade>
                  <h5>Denim</h5>
                  <mdb-card-text
                    >Neque porro quisquam est, qui dolorem ipsum quia dolor
                    sit.</mdb-card-text
                  >
                  <mdb-card-footer color="white" textColor="black" class="px-1">
                    <span class="font-weight-bold">
                      <strong>49$</strong>
                    </span>
                  </mdb-card-footer>
                </mdb-card-body>
              </mdb-card>
            </router-link>
          </mdb-col>
        </mdb-row>
      </section>
      <mdb-row>
        <mdb-col lg="12" class="mb-lg-0 mb-4 m-top-40 m-bottom40">
          <mdb-pagination circle>
            <mdb-page-item disabled>First</mdb-page-item>
            <mdb-page-nav prev disabled></mdb-page-nav>
            <mdb-page-item active>1</mdb-page-item>
            <mdb-page-item>2</mdb-page-item>
            <mdb-page-item>3</mdb-page-item>
            <mdb-page-item>4</mdb-page-item>
            <mdb-page-item>5</mdb-page-item>
            <mdb-page-nav next></mdb-page-nav>
            <mdb-page-item>Last</mdb-page-item>
          </mdb-pagination>
        </mdb-col>
      </mdb-row>
    </mdb-container>
    <best-seller class="light-section" />
    <video-carousel />
    <app-footer />
  </div>
</template>

<script>
import AppFooter from "@/components/AppFooter";
import PagesHeader from "@/components/PagesHeader";
import {
  mdbContainer,
  mdbRow,
  mdbCol,
  mdbCard,
  mdbCardImage,
  mdbCardBody,
  mdbCardFooter,
  mdbCardText,
  mdbPagination,
  mdbPageItem,
  mdbPageNav
} from "mdbvue";
import BestSeller from "../components/BestSeller";
import VideoCarousel from "../components/VideoCarousel";

export default {
  name: "category",
  components: {
    VideoCarousel,
    BestSeller,
    PagesHeader,
    AppFooter,
    mdbContainer,
    mdbRow,
    mdbCol,
    mdbCard,
    mdbCardImage,
    mdbCardBody,
    mdbCardFooter,
    mdbCardText,
    mdbPagination,
    mdbPageItem,
    mdbPageNav
  }
};
</script>
