<template>
  <div class="contact-page">
    <!--Content-->
    <div class="classic-form-page">
      <view-wrapper>
        <mdb-mask
          class="d-flex gradient justify-content-center align-items-center"
          style="background-image: url('http://www.enar.ideal-theme.com/wordpress/wp-content/uploads/2015/05/bg_header1.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;"
        >
          <div class="bg_overlay">
            <mdb-container>
              <mdb-row>
                <div
                  class="white-text text-center text-md-left col-md-6 mt-xl-5 mb-5"
                >
                  <div class="text-center">
                    <ul class="list-unstyled mb-0">
                      <li>
                        <mdb-icon
                          icon="map-marker"
                          size="2x"
                          class="white-text"
                        />
                        <p>San Francisco, CA 94126, USA</p>
                      </li>
                      <li>
                        <mdb-icon
                          icon="phone"
                          size="2x"
                          class="white-text mt-4"
                        />
                        <p>+ 01 234 567 89</p>
                      </li>
                      <li>
                        <mdb-icon
                          icon="envelope"
                          size="2x"
                          class="white-text mt-4"
                        />
                        <p>contact@example.com</p>
                      </li>
                    </ul>
                    <ul class="list-inline text-center list-unstyled m-top-35">
                      <li class="list-inline-item">
                        <a class="p-2 fa-lg w-ic">
                          <mdb-icon fab icon="twitter" />
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a class="p-2 fa-lg w-ic">
                          <mdb-icon fab icon="linkedin" />
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a class="p-2 fa-lg w-ic">
                          <mdb-icon fab icon="instagram" />
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <mdb-col md="6" xl="5" class="mb-4 animated fadeInRight">
                  <mdb-card id="classic-card">
                    <mdb-card-body class="z-depth-2 white-text">
                      <h3 class="text-center white-color">
                        <mdb-icon icon="user" /> Contact US:
                      </h3>
                      <hr class="hr-light" />
                      <p class="dark-grey-text white-color">
                        We'll write rarely, but only the best content.
                      </p>
                      <div class="md-form">
                        <mdb-input
                          icon="user"
                          label="Your name"
                          iconClass="white-text"
                          type="text"
                          id="form-name"
                        />
                      </div>
                      <div class="md-form">
                        <mdb-input
                          icon="envelope"
                          label="Your email"
                          iconClass="white-text"
                          type="text"
                          id="form-email"
                        />
                      </div>
                      <div class="md-form">
                        <mdb-input
                          icon="tag"
                          label="Subject"
                          iconClass="white-text"
                          type="text"
                          id="form-subject"
                        />
                      </div>
                      <div class="md-form">
                        <mdb-textarea
                          icon="pencil"
                          label="Message"
                          iconClass="white-text"
                          id="form-text"
                        />
                      </div>
                      <div class="text-center">
                        <mdb-btn class="btn-green">Submit</mdb-btn>
                      </div>
                    </mdb-card-body>
                  </mdb-card>
                </mdb-col>
                <mdb-col md="12" class="mb-4 animated fadeInRight">
                  <div class="google-map">
                    <iframe
                      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d110502.60389552708!2d31.188423585500143!3d30.0596184702878!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14583fa60b21beeb%3A0x79dfb296e8423bba!2sCairo%2C%20Cairo%20Governorate!5e0!3m2!1sen!2seg!4v1611758418982!5m2!1sen!2seg"
                      width="100%"
                      height="250"
                      frameborder="0"
                      style="border:0;"
                      allowfullscreen=""
                      aria-hidden="false"
                      tabindex="0"
                    ></iframe>
                  </div>
                </mdb-col>
              </mdb-row>
            </mdb-container>
          </div>
        </mdb-mask>
      </view-wrapper>
    </div>

    <app-footer />
  </div>
</template>
<script>
import AppFooter from "@/components/AppFooter";
import {
  mdbContainer,
  mdbRow,
  mdbCol,
  ViewWrapper,
  mdbMask,
  mdbBtn,
  mdbCard,
  mdbCardBody,
  mdbInput,
  mdbIcon
} from "mdbvue";

export default {
  name: "Contact",
  components: {
    AppFooter,
    mdbContainer,
    mdbRow,
    mdbCol,
    ViewWrapper,
    mdbMask,
    mdbBtn,
    mdbCard,
    mdbCardBody,
    mdbInput,
    mdbIcon
  }
};
</script>
<style scoped lang="scss">
.classic-form-page .view {
  background-image: url("http://mdbootstrap.com/img/Photos/Others/images/91.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: calc(100vh - 60px);
}

.classic-form-page .gradient {
  background: -webkit-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.7),
    rgba(72, 15, 144, 0.4) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.7),
    rgba(72, 15, 144, 0.4) 100%
  );
}

.classic-form-page .card {
  background-color: rgba(126, 123, 215, 0.2);
}

.classic-form-page h6 {
  line-height: 1.7;
}

.classic-form-page .navbar {
  transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}

.classic-form-page .navbar .md-form {
  margin: 0;
}

.top-nav-collapse {
  background: #424f95 !important;
}

@media (max-width: 768px) {
  .classic-form-page .navbar:not(.top-nav-collapse) {
    background: #424f95 !important;
  }
}

.classic-form-page label {
  color: #fff !important;
}
</style>
