<template>
  <div class="details-page">
    <pages-header />
    <div class="container">
      <div class="row padding-top-bottom text-left">
        <div class="col-md-12">
          <b-carousel
            id="carousel-fade"
            style="text-shadow: 0px 0px 2px #000"
            fade
            controls
            indicators
            img-width="1024"
            img-height="400"
            class="details-slider"
          >
            <b-carousel-slide
              img-src="http://www.enar.ideal-theme.com/wordpress/wp-content/uploads/2015/12/enar_revolution15.jpg"
            ></b-carousel-slide>
            <b-carousel-slide
              img-src="http://www.enar.ideal-theme.com/wordpress/wp-content/uploads/2015/10/slide3.jpg"
            ></b-carousel-slide>
            <b-carousel-slide
              img-src="http://www.enar.ideal-theme.com/wordpress/wp-content/uploads/2015/12/enar_revolution4.jpg"
            ></b-carousel-slide>
          </b-carousel>
        </div>
        <div class="col-md-12">
          <mdb-container>
            <mdb-row class="">
              <mdb-col md="12">
                <mdb-card reverse class="top-20">
                  <mdb-card-body class="text-center cascade">
                    <h2 class="font-weight-bold">
                      <a>Title of the product name</a>
                    </h2>
                    <mdb-btn class="btn-fb waves-light">
                      <mdb-icon fab icon="facebook" class="pr-2" />
                      Facebook
                    </mdb-btn>
                    <mdb-btn class="btn-tw waves-light">
                      <mdb-icon fab icon="twitter" class="pr-2" />
                      Twitter
                    </mdb-btn>
                    <mdb-btn class="btn-green">
                      <i class="fas fa-mail-bulk pr-2"></i>Contact Us
                    </mdb-btn>
                  </mdb-card-body>
                </mdb-card>
                <mdb-container class="mt-5">
                  <p>
                    At vero eos et accusamus et iusto odio dignissimos ducimus
                    qui praesentium voluptatum deleniti atque corrupti quos
                    dolores et quas molestias excepturi sint occaecati
                    cupiditate non provident, similique sunt in culpa nemo enim
                    ipsam voluptatem quia voluptas sit qui officia deserunt
                    mollitia animi, id est laborum et dolorum fuga quidem rerum
                    facilis est distinctio.
                  </p>
                  <p>
                    Nam libero tempore, cum soluta nobis est eligendi optio
                    cumque nihil impedit quo minus id quod maxime placeat facere
                    possimus, omnis voluptas assumenda est, omnis dolor
                    repellendus. Quis autem vel eum iure reprehenderit qui in ea
                    voluptate velit esse quam nihil molestiae consequatur.
                    Temporibus autem quibusdam et aut officiis debitis aut rerum
                    necessitatibus saepe eveniet ut et voluptates repudiandae
                    sint et molestiae non recusandae itaque earum rerum.
                  </p>
                </mdb-container>
              </mdb-col>
            </mdb-row>
          </mdb-container>
        </div>
        <div class="col-md-12"></div>
      </div>
    </div>
    <best-seller class="light-section" />
    <video-carousel />
    <app-footer />
  </div>
</template>

<script>
import AppFooter from "../components/AppFooter";
import PagesHeader from "../components/PagesHeader";
import BestSeller from "../components/BestSeller";
import VideoCarousel from "../components/VideoCarousel";
import { mdbCard, mdbCardBody, mdbIcon, mdbBtn } from "mdbvue";
export default {
  name: "Details",
  components: {
    VideoCarousel,
    BestSeller,
    PagesHeader,
    AppFooter,
    mdbCard,
    mdbCardBody,
    mdbIcon,
    mdbBtn
  }
};
</script>
