<template>
  <div class="home">
    <!--Slider Section-->
    <div class="slider-section">
      <b-carousel
        id="carousel-fade"
        style="text-shadow: 0px 0px 2px #000"
        fade
        controls
        indicators
        img-width="1024"
        img-height="480"
      >
        <b-carousel-slide
          img-src="http://www.enar.ideal-theme.com/wordpress/wp-content/uploads/2015/12/enar_revolution15.jpg"
        ></b-carousel-slide>
        <b-carousel-slide
          img-src="http://www.enar.ideal-theme.com/wordpress/wp-content/uploads/2015/10/slide3.jpg"
        ></b-carousel-slide>
        <b-carousel-slide
          img-src="http://www.enar.ideal-theme.com/wordpress/wp-content/uploads/2015/12/enar_revolution4.jpg"
        ></b-carousel-slide>
      </b-carousel>
    </div>
    <!--About Section-->
    <section class="short-about">
      <div class="about-section">
        <div class="row">
          <div class="col-md-12 col-xs-12">
            <div class="padding-top-bottom">
              <div class="section-head">
                <h2>About Hafarat</h2>
                <p class="sub-heading">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Aliquam animi aperiam consectetur consequatur cumque delectus
                  dicta dolor eligendi eos error iusto libero praesentium quam
                  reiciendis soluta ullam, voluptate voluptatem voluptates?
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Why Us-->
    <why-us />
    <!--All Equipment Section-->
    <section class="equipment light-section">
      <div class="equipment-section">
        <div class="row">
          <div class="col-md-12 col-xs-12">
            <div class="padding-top-bottom">
              <div class="section-head">
                <h2>Hafarat Equipment</h2>
              </div>
              <div class="equipment-items padding-top-bottom">
                <div class="container">
                  <div class="row">
                    <div class="col-md-4">
                      <router-link
                              :to="`/${$i18n.locale}/Details`"
                      >
                      <b-card
                        class="hight250"
                        overlay
                        img-src="https://picsum.photos/900/250/?image=3"
                        img-alt="Lodar Equipment"
                        text-variant="white"
                        title="Lodar Equipment"
                      >
                      </b-card>
                      </router-link>
                    </div>
                    <div class="col-md-4">
                      <router-link
                              :to="`/${$i18n.locale}/Details`"
                      >
                        <b-card
                                class="hight250"
                                overlay
                                img-src="https://picsum.photos/900/250/?image=3"
                                img-alt="Lodar Equipment"
                                text-variant="white"
                                title="Lodar Equipment"
                        >
                        </b-card>
                      </router-link>
                    </div>
                    <div class="col-md-4">
                      <router-link
                              :to="`/${$i18n.locale}/Details`"
                      >
                        <b-card
                                class="hight250"
                                overlay
                                img-src="https://picsum.photos/900/250/?image=3"
                                img-alt="Lodar Equipment"
                                text-variant="white"
                                title="Lodar Equipment"
                        >
                        </b-card>
                      </router-link>
                    </div>
                    <div class="col-md-4">
                      <router-link
                              :to="`/${$i18n.locale}/Details`"
                      >
                        <b-card
                                class="hight250"
                                overlay
                                img-src="https://picsum.photos/900/250/?image=3"
                                img-alt="Lodar Equipment"
                                text-variant="white"
                                title="Lodar Equipment"
                        >
                        </b-card>
                      </router-link>
                    </div>
                    <div class="col-md-4">
                      <router-link
                              :to="`/${$i18n.locale}/Details`"
                      >
                        <b-card
                                class="hight250"
                                overlay
                                img-src="https://picsum.photos/900/250/?image=3"
                                img-alt="Lodar Equipment"
                                text-variant="white"
                                title="Lodar Equipment"
                        >
                        </b-card>
                      </router-link>
                    </div>
                    <div class="col-md-4">
                      <router-link
                              :to="`/${$i18n.locale}/Details`"
                      >
                        <b-card
                                class="hight250"
                                overlay
                                img-src="https://picsum.photos/900/250/?image=3"
                                img-alt="Lodar Equipment"
                                text-variant="white"
                                title="Lodar Equipment"
                        >
                        </b-card>
                      </router-link>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Best Seller Sale-->
    <best-seller />
    <!--Video Carousel-->
    <video-carousel />
    <!--Contact US-->
    <contact-us />
    <!--Footer-->
    <app-footer />
  </div>
</template>
<script>
// @ is an alias to /src
import BestSeller from "@/components/BestSeller.vue";
import VideoCarousel from "@/components/VideoCarousel";
import WhyUs from "@/components/WhyUs";
import ContactUs from "@/components/ContactUs";
import AppFooter from "@/components/AppFooter";
export default {
  name: "Home",
  components: {
    AppFooter,
    ContactUs,
    VideoCarousel,
    BestSeller,
    WhyUs
  }
};
</script>
