<template>
  <!-- Footer -->
  <mdb-footer
    color="stylish-color-dark"
    class="page-footer font-small pt-4 mt-4"
  >
    <mdb-container class="text-left">
      <mdb-row>
        <mdb-col md="5">
          <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">
            Logo
          </h5>
          <p>
            Short about company.
          </p>
        </mdb-col>
        <hr class="clearfix w-100 d-md-none" />
        <mdb-col md="2">
          <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">Links</h5>
          <ul class="list-unstyled">
            <li>
              <router-link to="/" class="footer-link">Link</router-link>
            </li>
            <li>
              <router-link to="/" class="footer-link">Link</router-link>
            </li>
            <li>
              <router-link to="/" class="footer-link">Link</router-link>
            </li>
            <li>
              <router-link to="/" class="footer-link">Link</router-link>
            </li>
          </ul>
        </mdb-col>
        <hr class="clearfix w-100 d-md-none" />
        <mdb-col md="2">
          <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">PRODUCTS</h5>
          <ul class="list-unstyled">
            <li>
              <router-link to="/" class="footer-link">Link</router-link>
            </li>
            <li>
              <router-link to="/" class="footer-link">Link</router-link>
            </li>
            <li>
              <router-link to="/" class="footer-link">Link</router-link>
            </li>
            <li>
              <router-link to="/" class="footer-link">Link</router-link>
            </li>
          </ul>
        </mdb-col>
        <hr class="clearfix w-100 d-md-none" />
        <mdb-col md="3">
          <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">Follow Us</h5>
        </mdb-col>
      </mdb-row>
    </mdb-container>
    <hr />
    <div class="text-center">
      <ul class="list-unstyled list-inline">
        <li class="list-inline-item">
          <a class="btn-floating btn-sm btn-fb mx-1"
            ><i class="fab fa-facebook"> </i
          ></a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-sm btn-tw mx-1"
            ><i class="fab fa-twitter"> </i
          ></a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-sm btn-li mx-1"
            ><i class="fab fa-linkedin-in"> </i
          ></a>
        </li>
      </ul>
    </div>
    <div class="footer-copyright text-center py-3">
      <mdb-container fluid>
        &copy; 2020 Copyright:
        <a href="#."> Hafarat </a>
      </mdb-container>
    </div>
  </mdb-footer>
  <!-- Footer -->
</template>

<script>
import { mdbFooter, mdbContainer, mdbRow, mdbCol } from "mdbvue";
export default {
  name: "FooterApp",
  components: {
    mdbFooter,
    mdbContainer,
    mdbRow,
    mdbCol
  }
};
</script>

<style scoped></style>
