<template>
  <div class="app-header">
    <div class="top-nav">
      <b-navbar toggleable="lg" type="light" variant="info" sticky>
        <div class="container">
          <b-col cols="9">
            <div class="text-left">
              <ul class="list-unstyled list-inline top-social">
                <li class="list-inline-item">
                  <a class="btn-floating btn-sm btn-fb mx-1"
                    ><i class="fab fa-facebook"> </i
                  ></a>
                </li>
                <li class="list-inline-item">
                  <a class="btn-floating btn-sm btn-tw mx-1"
                    ><i class="fab fa-twitter"> </i
                  ></a>
                </li>
                <li class="list-inline-item">
                  <a class="btn-floating btn-sm btn-li mx-1"
                    ><i class="fab fa-linkedin-in"> </i
                  ></a>
                </li>
              </ul>
            </div>
          </b-col>
          <b-col cols="3">
            <b-navbar
              class="lang show"
              toggleable="lg"
              type="light"
              variant="info"
            >
              <b-collapse class="show" id="nav-collapse" is-nav>
                <!-- Right aligned nav items -->
                <b-navbar-nav class="ml-auto">
                  <b-nav-item-dropdown text="Lang" right>
                    <b-dropdown-item v-for="(lang, i) in langs" :key="`Lang${i}`" :value="lang" @click="SwitchLocale(lang)">
                      {{ lang }}
                    </b-dropdown-item>
                  </b-nav-item-dropdown>
                </b-navbar-nav>
              </b-collapse>

            </b-navbar>
          </b-col>
        </div>
      </b-navbar>
    </div>

    <div class="main-nav">
      <b-navbar toggleable="lg" type="dark" variant="info">
        <div class="container">
          <b-navbar-brand href="#">
            <img class="logo" src="../assets/logo.png" />
          </b-navbar-brand>
          <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

          <b-collapse id="nav-collapse" is-nav>
            <!-- Right aligned nav items -->
            <b-navbar-nav id="nav-collapse" is-nav>
              <li class="nav-item">
                <router-link :to="`/${$i18n.locale}`">
                  {{ $t("MainMenu.Home") }}
                </router-link>
              </li>
              <li class="nav-item">
                <router-link :to="`/${$i18n.locale}/About`">
                  {{ $t("MainMenu.About") }}
                </router-link>
              </li>
              <li>
                <router-link :to="`/${$i18n.locale}/Category`">
                  {{ $t("MainMenu.Products") }}
                </router-link>
              </li>
              <li>
                <router-link :to="`/${$i18n.locale}/Auction`">
                  {{ $t("MainMenu.Auction") }}
                </router-link>
              </li>
              <li class="nav-item">
                <router-link :to="`/${$i18n.locale}/Contact`">
                  {{ $t("MainMenu.Contact") }}</router-link
                >
              </li>

              <!--<b-collapse class="show" id="nav-collapse" is-nav>
                &lt;!&ndash; Right aligned nav items &ndash;&gt;
                <b-navbar-nav class="ml-auto">
                  <b-nav-item-dropdown text="Products" href="#." right >
                    <b-dropdown-item href="#"><router-link to="#.">Hafarat 1</router-link></b-dropdown-item>
                    <b-dropdown-item href="#"><router-link to="#.">Hafarat 1</router-link></b-dropdown-item>
                    <b-dropdown-item href="#"><router-link to="#.">Hafarat 1</router-link></b-dropdown-item>
                    <b-dropdown-item href="#"><router-link to="#.">Hafarat 1</router-link></b-dropdown-item>
                  </b-nav-item-dropdown>
                </b-navbar-nav>
              </b-collapse>
-->
            </b-navbar-nav>
          </b-collapse>

          <b-navbar-nav class="ml-auto">
            <b-nav-form>
              <b-form-input
                type="text"
                list="films"
                size="sm"
                class="mr-sm-2 search"
                placeholder="Search"
              ></b-form-input>
              <datalist id="films">
                <option v-for="search in searches" :key="search">{{
                  search
                }}</option>
              </datalist>
            </b-nav-form>
          </b-navbar-nav>
        </div>
      </b-navbar>
    </div>
  </div>
</template>

<script>
export default {
  name: "AppHeader",
  components: {},
  computed: {
  },

  methods: {
    SwitchLocale(lang) {
      if (this.$i18n.locale !== lang) {
        this.$i18n.locale = lang;
        const to = this.$router.resolve({ params: {lang} }) // <--------------------
        this.$router.push(to.location) // <--------------------
      }
      if (lang === "ar") {
        let body = document.getElementsByTagName("body")[0];
        body.classList.add("ar");
      } else {
        let body = document.getElementsByTagName("body")[0];
        body.classList.remove("ar");
      }
    }
  },
  data() {
    return {
      langs: ['en', 'ar'],
      searches: [
        "A Throne Too Far",
        "The Cat Wasn't Invited",
        "You Only Meow Once",
        "Catless in Seattle"
      ]
    };
  }
};
</script>

<style scoped></style>
