<template>
  <section class="best-seller">
    <div class="best-seller-section">
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <div class="padding-top-bottom">
            <div class="section-head">
              <h2>Best Selling</h2>
            </div>
            <div class="best-seller-items padding-top-bottom">
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <b-card no-body class="overflow-hidden">
                      <b-row no-gutters>
                        <b-col md="7">
                          <b-card-body title="Horizontal Card">
                            <b-card-text>
                              This is a wider card with supporting text.
                            </b-card-text>
                            <router-link
                                    :to="`/${$i18n.locale}/Details`"
                                    class="btn btn-green card-btn waves-effect waves-light"
                            ><i class="fas fa-clone left"></i
                            >Details</router-link
                            >
                          </b-card-body>
                        </b-col>
                        <b-col md="5">
                          <b-card-img
                                  src="https://picsum.photos/400/400/?image=20"
                                  alt="Image"
                                  class="rounded-0"
                          ></b-card-img>
                        </b-col>
                      </b-row>
                    </b-card>
                  </div>
                  <div class="col-md-4">
                    <b-card no-body class="overflow-hidden">
                      <b-row no-gutters>
                        <b-col md="7">
                          <b-card-body title="Horizontal Card">
                            <b-card-text>
                              This is a wider card with supporting text.
                            </b-card-text>
                            <router-link
                                    :to="`/${$i18n.locale}/Details`"
                              class="btn btn-green card-btn waves-effect waves-light"
                              ><i class="fas fa-clone left"></i
                              >Details</router-link
                            >
                          </b-card-body>
                        </b-col>
                        <b-col md="5">
                          <b-card-img
                            src="https://picsum.photos/400/400/?image=20"
                            alt="Image"
                            class="rounded-0"
                          ></b-card-img>
                        </b-col>
                      </b-row>
                    </b-card>
                  </div>
                  <div class="col-md-4">
                    <b-card no-body class="overflow-hidden">
                      <b-row no-gutters>
                        <b-col md="7">
                          <b-card-body title="Horizontal Card">
                            <b-card-text>
                              This is a wider card with supporting text.
                            </b-card-text>
                            <router-link
                                    :to="`/${$i18n.locale}/Details`"
                                    class="btn btn-green card-btn waves-effect waves-light"
                            ><i class="fas fa-clone left"></i
                            >Details</router-link
                            >
                          </b-card-body>
                        </b-col>
                        <b-col md="5">
                          <b-card-img
                                  src="https://picsum.photos/400/400/?image=20"
                                  alt="Image"
                                  class="rounded-0"
                          ></b-card-img>
                        </b-col>
                      </b-row>
                    </b-card>
                  </div>
                  <div class="col-md-4">
                    <b-card no-body class="overflow-hidden">
                      <b-row no-gutters>
                        <b-col md="7">
                          <b-card-body title="Horizontal Card">
                            <b-card-text>
                              This is a wider card with supporting text.
                            </b-card-text>
                            <router-link
                                    :to="`/${$i18n.locale}/Details`"
                                    class="btn btn-green card-btn waves-effect waves-light"
                            ><i class="fas fa-clone left"></i
                            >Details</router-link
                            >
                          </b-card-body>
                        </b-col>
                        <b-col md="5">
                          <b-card-img
                                  src="https://picsum.photos/400/400/?image=20"
                                  alt="Image"
                                  class="rounded-0"
                          ></b-card-img>
                        </b-col>
                      </b-row>
                    </b-card>
                  </div>
                  <div class="col-md-4">
                    <b-card no-body class="overflow-hidden">
                      <b-row no-gutters>
                        <b-col md="7">
                          <b-card-body title="Horizontal Card">
                            <b-card-text>
                              This is a wider card with supporting text.
                            </b-card-text>
                            <router-link
                                    :to="`/${$i18n.locale}/Details`"
                                    class="btn btn-green card-btn waves-effect waves-light"
                            ><i class="fas fa-clone left"></i
                            >Details</router-link
                            >
                          </b-card-body>
                        </b-col>
                        <b-col md="5">
                          <b-card-img
                                  src="https://picsum.photos/400/400/?image=20"
                                  alt="Image"
                                  class="rounded-0"
                          ></b-card-img>
                        </b-col>
                      </b-row>
                    </b-card>
                  </div>
                  <div class="col-md-4">
                    <b-card no-body class="overflow-hidden">
                      <b-row no-gutters>
                        <b-col md="7">
                          <b-card-body title="Horizontal Card">
                            <b-card-text>
                              This is a wider card with supporting text.
                            </b-card-text>
                            <router-link
                                    :to="`/${$i18n.locale}/Details`"
                                    class="btn btn-green card-btn waves-effect waves-light"
                            ><i class="fas fa-clone left"></i
                            >Details</router-link
                            >
                          </b-card-body>
                        </b-col>
                        <b-col md="5">
                          <b-card-img
                                  src="https://picsum.photos/400/400/?image=20"
                                  alt="Image"
                                  class="rounded-0"
                          ></b-card-img>
                        </b-col>
                      </b-row>
                    </b-card>
                  </div>
                  <div class="col-md-12 col-xs-12 m-top-20">
                    <router-link
                      to="/Category"
                      class="btn btn-green card-btn waves-effect waves-light"
                      ><i class="fas fa-clone left"></i>View More</router-link
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "BestSeller",
  components: {}
};
</script>

<style scoped></style>
