<template>
  <section class="text-center">
    <mdb-row>
      <mdb-col md="12" class="mb-4 visible">
        <mdb-card
          class="card-image visible border0"
          style="background-image: url(https://mdbootstrap.com/img/Photos/Others/img%20%2832%29.jpg)"
        >
          <div
            class="text-white text-center align-items-center rgba-black-strong py-5 px-4"
          >
            <h3 class="py-3 font-weight-bold">
              <strong>{{ $t("PagesTitle.Title",{title: " Product Page"}) }}</strong>
            </h3>
            <p class="pb-3">{{ $tc("PagesTitle.new_message","") }}</p>
          </div>
        </mdb-card>
      </mdb-col>
    </mdb-row>
  </section>
</template>

<script>
import { mdbRow, mdbCol, mdbCard } from "mdbvue";
export default {
  name: "PagesHeader",
  components: {
    mdbRow,
    mdbCol,
    mdbCard
  }
};
</script>

<style scoped></style>
