<template>
  <section class="video-slider">
    <div class="video-slider-section">
      <mdb-carousel
        :interval="8000"
        :items="videoCarousel"
        indicators
        controlls
      ></mdb-carousel>
    </div>
  </section>
</template>

<script>
import { mdbCarousel } from "mdbvue";
export default {
  name: "VideoCarousel",
  components: {
    mdbCarousel
  },
  data() {
    return {
      videoCarousel: [
        {
          video: true,
          src: "https://mdbootstrap.com/img/video/Lines.mp4",
          loop: true,
          auto: true,
          muted: true,
          mask: "black-light",
        },
        {
          video: true,
          src: "https://mdbootstrap.com/img/video/animation-intro.mp4",
          loop: true,
          auto: true,
          muted: true,
          mask: "black-slight",
        },
        {
          video: true,
          src: "https://mdbootstrap.com/img/video/Nature-Sunset.mp4",
          loop: true,
          auto: true,
          muted: true,
          mask: "black-strong",
        }
      ]
    };
  }
};
</script>

<style scoped lang="scss"></style>
