<template>
  <section class="why-us">
    <div class="why-us-section">
      <div class="why-us-items">
        <div class="container tree_features">
          <div class="row">
            <!--<div class="col-md-6 items">
              <div class="tree-item">
                <span class="leaf_icon">
                  <img src="https://picsum.photos/900/250/?image=3" alt="Image Title" />
                </span>
                <div class="leaf_con">
                  <span class="tree_features_t">Since 1980</span>
                  <span class="tree_features_d">We are here since 1980</span>
                </div>
                <span class="tree_curv"></span>
              </div>
            </div>-->
            <mdb-row class="text-center">
              <mdb-col md="3" class="mb-md-0 mb-5">
                <mdb-testimonial>
                  <mdb-avatar class="mx-auto">
                    <img
                      src="https://picsum.photos/900/250/?image=3"
                      class="rounded-circle z-depth-1 img-fluid img-custom-height"
                    />
                  </mdb-avatar>
                  <h4 class="font-weight-bold dark-grey-text mt-4">
                    Since 1980
                  </h4>
                  <p class="font-weight-normal dark-grey-text">
                    <mdb-icon class="fas fa-quote-left pr-2"></mdb-icon>Lorem
                    ipsum dolor sit amet, consectetur adipisicing elit. Quod eos
                    id officiis hic tenetur quae quaerat ad velit ab hic
                    tenetur.
                  </p>
                </mdb-testimonial>
              </mdb-col>
              <mdb-col md="3" class="mb-md-0 mb-5">
                <mdb-testimonial>
                  <mdb-avatar class="mx-auto">
                    <img
                      src="https://picsum.photos/900/250/?image=3"
                      class="rounded-circle z-depth-1 img-fluid img-custom-height"
                    />
                  </mdb-avatar>
                  <h4 class="font-weight-bold dark-grey-text mt-4">
                    Fast Delivery
                  </h4>
                  <p class="font-weight-normal dark-grey-text">
                    <mdb-icon class="fas fa-quote-left pr-2"></mdb-icon>Lorem
                    ipsum dolor sit amet, consectetur adipisicing elit. Quod eos
                    id officiis hic tenetur quae quaerat ad velit ab hic
                    tenetur.
                  </p>
                </mdb-testimonial>
              </mdb-col>
              <mdb-col md="3" class="mb-md-0 mb-5">
                <mdb-testimonial>
                  <mdb-avatar class="mx-auto">
                    <img
                      src="https://picsum.photos/900/250/?image=3"
                      class="rounded-circle z-depth-1 img-fluid img-custom-height"
                    />
                  </mdb-avatar>
                  <h4 class="font-weight-bold dark-grey-text mt-4">
                    High Quality
                  </h4>
                  <p class="font-weight-normal dark-grey-text">
                    <mdb-icon class="fas fa-quote-left pr-2"></mdb-icon>Lorem
                    ipsum dolor sit amet, consectetur adipisicing elit. Quod eos
                    id officiis hic tenetur quae quaerat ad velit ab hic
                    tenetur.
                  </p>
                </mdb-testimonial>
              </mdb-col>
              <mdb-col md="3" class="mb-md-0 mb-5">
                <mdb-testimonial>
                  <mdb-avatar class="mx-auto">
                    <img
                      src="https://picsum.photos/900/250/?image=3"
                      class="rounded-circle z-depth-1 img-fluid img-custom-height"
                    />
                  </mdb-avatar>
                  <h4 class="font-weight-bold dark-grey-text mt-4">
                    Expert at shipping
                  </h4>
                  <p class="font-weight-normal dark-grey-text">
                    <mdb-icon class="fas fa-quote-left pr-2"></mdb-icon>Lorem
                    ipsum dolor sit amet, consectetur adipisicing elit. Quod eos
                    id officiis hic tenetur quae quaerat ad velit ab hic
                    tenetur.
                  </p>
                </mdb-testimonial>
              </mdb-col>
            </mdb-row>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { mdbRow, mdbCol, mdbAvatar, mdbIcon, mdbTestimonial } from "mdbvue";

export default {
  name: "WhyUs",
  components: {
    mdbRow,
    mdbCol,
    mdbAvatar,
    mdbIcon,
    mdbTestimonial
  },
  data() {
    return {};
  }
};
</script>

<style scoped></style>
