<template>
  <div id="app">
    <AppHeader />
    <router-view />
  </div>
</template>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
<script>
import AppHeader from "@/components/AppHeader.vue";
export default {
  name: "App",
  components: {
    AppHeader
  },
  metaInfo() {
    return {
      title: "This is hafart webSite",
      meta: [
        {
          name: 'description',
          content: 'This is hafart webSite that contains a lote of data about hafarat'
        },
        {property: 'og:title', content: "This is hafart webSite that contains a lote of data about hafarat"},
        {property: 'og:site_name', content: 'Hafart'},
        {property: 'og:type', content: 'website'},
        {name: 'robots', content: 'index,follow'}
      ]
    }
  }
};
</script>
